Repository Rickmusic/ScratchGames: changes, and which lint-staged commands are due for each by the changed paths.
All: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

Auto joining/leaving of Games
  app/db/MySQL-Schema.md
  app/db/models/lobby.js
  app/router/locations.js
  app/socket/base.js
  app/socket/lobby.js
  public/js/ScratchGames.js
Due: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

redid index CSS
  public/css/index.css
  public/html/index.html
Due: node_modules/.bin/prettier --write

Promises run async. Who knew. So I will probably re-work it. However it is working kinda. Just need to get specific lobby variables and update the player lists.
  public/html/snippets/goFishSettings.html
  public/html/snippets/unoSettings.html
  public/js/lobby.js
Due: node_modules/.bin/eslint --fix

Code cleaning for readability.
  public/html/snippets/goFishSettings.html
  public/js/base.js
  public/js/lobby.js
Due: node_modules/.bin/eslint --fix

Got winner working
  app/games/gofish/game.js
  app/games/gofish/index.js
  public/css/style.css
  public/js/games/GoFish.js
Due: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

Added Uno folder
  Uno/CardGames/Uno/game.js
  Uno/CardGames/Uno/index.js
  Uno/CardGames/deck.js
  Uno/CardGames/player.js
  Uno/Cards.ai
  Uno/index.html
  Uno/index.js
  Uno/package.json
  Uno/public/css/style.css
  Uno/public/images/Cards/Back.png
  Uno/public/images/Cards/Cards-06.png
  Uno/public/images/Cards/Clubs.png
  Uno/public/images/Cards/Diamonds.png
  Uno/public/images/Cards/Hearts.png
  Uno/public/images/Cards/Spades.png
  Uno/public/js/Controllers/uno.js
  Uno/public/js/Models/uno.js
Due: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

Initial file relocation
  Uno/CardGames/deck.js
  Uno/CardGames/player.js
  Uno/Cards.ai
  Uno/index.js
  Uno/package.json
  Uno/public/css/style.css
  Uno/public/images/Cards/Back.png
  Uno/public/images/Cards/Cards-06.png
  Uno/public/images/Cards/Clubs.png
  Uno/public/images/Cards/Diamonds.png
  Uno/public/images/Cards/Hearts.png
  Uno/public/images/Cards/Spades.png
  app/games/uno/game.js
  app/games/uno/index.js
  public/html/games/Uno.html
  public/js/games/UnoController.js
  public/js/games/UnoModel.js
Due: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

Linting Uno Files
  app/games/uno/game.js
  app/games/uno/index.js
  public/js/games/UnoController.js
  public/js/games/UnoModel.js
Due: node_modules/.bin/eslint --fix

Re-Linting
  .eslintrc.json
  app/games/uno/game.js
  app/games/uno/index.js
  public/js/games/UnoController.js
  public/js/games/UnoModel.js
Due: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

Merging Client Files for UNO
  public/html/games/GoFish.html
  public/html/games/Uno.html
  public/js/games/Uno.js
  public/js/games/UnoController.js
  public/js/games/UnoModel.js
Due: node_modules/.bin/eslint --fix

Merging Server Files for Uno
  app/games/index.js
  app/games/uno/game.js
  app/games/uno/index.js
Due: node_modules/.bin/eslint --fix

Lobby Table Edit
  app/db/models/lobby.js
Due: node_modules/.bin/eslint --fix

Stupidly missed some things during merging
  public/html/games/Uno.html
  public/js/games/Uno.js
Due: node_modules/.bin/eslint --fix

Wow I did a horrible job of merging
  app/games/deck.js
  app/games/player.js
  public/css/style.css
  public/js/games/Uno.js
Due: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

mobile and tablet friendly updates
  public/css/index.css
  public/html/index.html
Due: node_modules/.bin/prettier --write

Mobile friendly updates to home page
  public/css/Main.css
  public/html/base.html
  public/html/login.html
Due: node_modules/.bin/prettier --write

Move Game into iFrame
  public/css/games/style.css
  public/html/games/GoFish.html
  public/html/games/Uno.html
  public/html/snippets/game.html
  public/js/ScratchGames.js
  public/js/games/GoFish.js
  public/js/games/Uno.js
Due: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

Reimplementing Game Leave
  public/js/ScratchGames.js
  public/js/games/GoFish.js
  public/js/games/Uno.js
Due: node_modules/.bin/eslint --fix

Remove Unnecessary Arg
  public/js/games/GoFish.js
Due: node_modules/.bin/eslint --fix

CSS for pop up screen
  public/css/Main.css
  public/html/modals/createLobby.html
Due: node_modules/.bin/prettier --write

more css styling done
  public/css/Main.css
  public/html/base.html
  public/html/modals/createLobby.html
Due: node_modules/.bin/prettier --write

Chat file edits
  public/js/chat.js
Due: node_modules/.bin/eslint --fix

Chat windows
  public/html/base.html
Due: none

CSS Styling
  public/css/Main.css
Due: node_modules/.bin/prettier --write

Scrollable
  public/css/Main.css
Due: node_modules/.bin/prettier --write

index html
  public/html/index.html
Due: none

index css
  public/css/index.css
Due: node_modules/.bin/prettier --write

Some more styling
  public/css/Main.css
Due: node_modules/.bin/prettier --write

Profile
  public/html/snippets/profile.html
  public/js/lobby.js
Due: node_modules/.bin/eslint --fix

worry not
  public/css/Main.css
Due: node_modules/.bin/prettier --write

Small style
  public/css/style.css
Due: node_modules/.bin/prettier --write

Rejoin, fixed a couple bugs
  app/games/gofish/game.js
  app/games/gofish/index.js
  app/games/player.js
  app/games/uno/game.js
  app/games/uno/index.js
  public/css/games/style.css
  public/js/games/GoFish.js
  public/js/games/Uno.js
Due: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

Getting values from server
  app/socket/lobby.js
  public/js/lobby.js
Due: node_modules/.bin/eslint --fix

LobbyLanding now also gives lobby member info
  app/socket/lobby.js
  public/js/lobby.js
Due: node_modules/.bin/eslint --fix

Getting ready for player lists
  public/html/snippets/lobby.html
  public/html/snippets/unoSettings.html
  public/js/lobby.js
Due: node_modules/.bin/eslint --fix

Adding Client Side User Info
  app/socket/base.js
  public/js/ScratchGames.js
Due: node_modules/.bin/eslint --fix

Lobby broadcast user join
  app/socket/lobby.js
Due: node_modules/.bin/eslint --fix

Moving game settings to own folder
  public/html/gamesettings/GoFish.html
  public/html/gamesettings/Uno.html
  public/js/lobby.js
Due: node_modules/.bin/eslint --fix

Updating client role
  public/js/ScratchGames.js
  public/js/lobby.js
Due: node_modules/.bin/eslint --fix

Changing lobby join emit
  app/socket/lobby.js
Due: node_modules/.bin/eslint --fix

Path conditions:
  node_modules/.bin/prettier --write: any of: *.{json,css,md}
  node_modules/.bin/eslint --fix: any of: *.js
