Repository Rickmusic/ScratchGames: changes, and which lint-staged commands are due for each by the changed paths.
All: node_modules/.bin/prettier, node_modules/.bin/eslint --fix

.lintstagedrc.json:

{
  "*.{json,css,md}": ["node_modules/.bin/prettier", "git add"],
  "*.js": ["node_modules/.bin/eslint --fix", "git add"]
}

Server no longer needs to load the config
  server.js
Due: node_modules/.bin/eslint --fix

Add Passport Session Autosaving
  app/passport/index.js
  app/router/auth.js
  app/socket/socketsession.js
  server.js
Due: node_modules/.bin/eslint --fix

Created Popup dialog for create game.
  public/css/Login.css
  public/css/Main.css
  public/html/home.html
  public/js/home.js
  server.js
Due: node_modules/.bin/prettier, node_modules/.bin/eslint --fix

Created Dynamically loading html snippets. Saved current state in cookies
  public/html/home.html
  public/html/joincodeSnip.html
  public/html/leaderSnip.html
  public/html/lobbySnip.html
  public/html/profileSnip.html
  public/js/home.js
Due: node_modules/.bin/eslint --fix

Recovering Files that didn't merge
  app/session/index.js
  app/socket/index.js
  nginx/conf/nginx.conf
  package-lock.json
  package.json
Due: node_modules/.bin/prettier, node_modules/.bin/eslint --fix

Better Names & Some Housekeeping
  app/router/index.js
  public/html/base.html
  public/js/base.js
  public/js/profile.js
Due: node_modules/.bin/eslint --fix

Formating Run
  .lintstagedrc.json
  app/passport/index.js
  app/session/index.js
  app/socket/index.js
  app/socket/socketsession.js
  public/css/Login.css
  public/css/Main.css
  public/js/base.js
Due: node_modules/.bin/prettier, node_modules/.bin/eslint --fix

Bootstrap added
  public/html/base.html
Due: none

Dynamically load js files and added input fields to chat
  public/css/Main.css
  public/html/base.html
  public/js/base.js
  public/js/home.js
Due: node_modules/.bin/prettier, node_modules/.bin/eslint --fix

Update Logo with Shadow and Comany Name versions
  public/img/Logo.ai
  public/img/Logo.svg
  public/img/Logo4.ai
  public/img/Logo4.svg
  public/img/LogoShadow.svg
  public/img/LogoTitle.png
Due: none

Basic chat send to server and emit through sockets working. Mostly UI focused
  app/socket/index.js
  public/html/base.html
  public/js/base.js
Due: node_modules/.bin/eslint --fix

Move chat into seperate file
  app/socket/chat.js
  app/socket/index.js
  public/html/base.html
  public/js/base.js
  public/js/chat.js
Due: node_modules/.bin/eslint --fix

Restoring chat username styling
  public/css/Main.css
  public/html/base.html
Due: node_modules/.bin/prettier

Make Nginx Optional
  README.md
  app/db/README.md
  app/log/README.md
  app/router/index.js
  app/router/static.js
  nginx/README.md
Due: node_modules/.bin/prettier, node_modules/.bin/eslint --fix

File Path needs to be relative
  nginx/README.md
Due: node_modules/.bin/prettier

Add Config README
  README.md
  app/config/README.md
Due: node_modules/.bin/prettier

Update Mailer Link Building
  app/mailer/index.js
Due: node_modules/.bin/eslint --fix

Apparently I can't spell
  app/mailer/index.js
Due: node_modules/.bin/eslint --fix

Moving things out of the global scope
  public/js/base.js
Due: node_modules/.bin/eslint --fix

Moving Home Init to the Global Var
  public/js/base.js
  public/js/chat.js
  public/js/home.js
Due: node_modules/.bin/eslint --fix

Add Messages to the Database
  app/db/index.js
  app/db/models/lobby.js
  app/db/models/message.js
  app/db/models/user.js
  app/log/winston.js
  app/mailer/index.js
  app/passport/index.js
  app/router/auth.js
  app/socket/chat.js
  public/js/base.js
  public/js/chat.js
Due: node_modules/.bin/eslint --fix

PM's In Theory Work
  app/db/models/user.js
  app/socket/chat.js
  public/js/chat.js
Due: node_modules/.bin/eslint --fix

Hash Tokens
  app/db/models/auth.js
  app/db/models/user.js
  app/passport/index.js
Due: node_modules/.bin/eslint --fix

Rip out Table Rebuild on Launch
  app/db/index.js
Due: node_modules/.bin/eslint --fix

Updating DB Readme
  app/db/README.md
Due: node_modules/.bin/prettier

Wiki Link needed to be absolute
  app/db/README.md
Due: node_modules/.bin/prettier

Move MySQL Schema to file
  app/db/MySQL-Schema.md
  app/db/README.md
Due: node_modules/.bin/prettier

Inital Attempt as Server Side History
  app/socket/base.js
  app/socket/index.js
  public/html/base.html
  public/html/snippets/joincode.html
  public/html/snippets/leaderboard.html
  public/html/snippets/lobbylist.html
  public/html/snippets/profile.html
  public/js/base.js
  public/js/home.js
Due: node_modules/.bin/eslint --fix

Finish Merging
  app/socket/base.js
  public/html/snippets/lobby.html
  public/html/snippets/lobbyList.html
  public/js/base.js
  public/js/home.js
  public/js/lobbylist.js
Due: node_modules/.bin/eslint --fix

Functional / Fully Featured Nav
  app/router/index.js
  app/router/locations.js
  app/socket/base.js
  public/html/base.html
  public/js/ScratchGames.js
  public/js/base.js
  public/js/chat.js
  public/js/lobby.js
  public/js/lobbylist.js
  public/js/profile.js
Due: node_modules/.bin/eslint --fix

Minor fixes from adding nav all at once
  public/js/ScratchGames.js
  public/js/base.js
  public/js/chat.js
  public/js/lobby.js
  public/js/lobbylist.js
  public/js/profile.js
Due: node_modules/.bin/eslint --fix

Add Args to Navigate's Scratch.* call
  public/js/ScratchGames.js
Due: node_modules/.bin/eslint --fix

Added new calls to Nav
  public/js/ScratchGames.js
  public/js/base.js
  public/js/lobbylist.js
Due: node_modules/.bin/eslint --fix

Editing comments
  public/js/profile.js
Due: node_modules/.bin/eslint --fix

Basic Modal through Nav
  public/html/base.html
  public/html/modals/createLobby.html
  public/js/ScratchGames.js
  public/js/base.js
  public/js/lobbylist.js
Due: node_modules/.bin/eslint --fix

Redo the inner workings of Scratch Nav
  public/js/ScratchGames.js
  public/js/base.js
  public/js/lobbylist.js
Due: node_modules/.bin/eslint --fix

Creating Lobbies
  app/db/MySQL-Schema.md
  app/db/index.js
  app/db/models/lobby.js
  app/db/models/message.js
  app/db/models/user.js
  app/socket/base.js
  app/socket/chat.js
  public/html/modals/createLobby.html
  public/js/ScratchGames.js
  public/js/chat.js
  public/js/lobbylist.js
Due: node_modules/.bin/prettier, node_modules/.bin/eslint --fix

Unblocking Config for Shared DB
  .gitignore
  app/config/config.json
Due: node_modules/.bin/prettier

started index page
  app/config/.DS_Store
  app/config/config.json.example
  public/css/Main.css
  public/html/.idea/html.iml
  public/html/.idea/modules.xml
  public/html/.idea/workspace.xml
  public/html/index.html
Due: node_modules/.bin/prettier

Correct navigation interaction with modal windows instead of changing inner content. Full bootstrap integration on all modal content and windows.
  public/css/Main.css
  public/html/base.html
  public/html/modals/createLobby.html
  public/html/snippets/joincode.html
  public/html/snippets/leaderboard.html
  public/html/snippets/profile.html
  public/js/ScratchGames.js
  public/js/base.js
Due: node_modules/.bin/prettier, node_modules/.bin/eslint --fix
