Repository Rickmusic/ScratchGames: changes, and which lint-staged commands are due for each by the changed paths.
All: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

.lintstagedrc.json:

{
  "*.{json,css,md}": ["node_modules/.bin/prettier --write", "git add"],
  "*.js": ["node_modules/.bin/eslint --fix", "git add"]
}

Bootstrapped the nav bar among other things. Not finished. Needs work still.
  public/css/Login.css
  public/css/Main.css
  public/html/base.html
Due: node_modules/.bin/prettier --write

Refactor Nav to use Simultanious Resource Loading
  public/js/ScratchGames.js
Due: node_modules/.bin/eslint --fix

Removed duplicated type checking
  public/js/ScratchGames.js
Due: node_modules/.bin/eslint --fix

animate css
  public/css/Main.css
  public/css/animate.css
  public/html/index.html
Due: node_modules/.bin/prettier --write

full landing page complete
  public/css/Main.css
  public/html/index.html
Due: node_modules/.bin/prettier --write

Re-add config example file
  app/config/config.json.example
Due: none

Updating Gitignore for DS_Store and Idea
  .gitignore
  app/config/.DS_Store
  public/html/.idea/html.iml
  public/html/.idea/modules.xml
  public/html/.idea/workspace.xml
Due: none

Lobby Chat Working
  app/socket/base.js
  app/socket/chat.js
  public/js/chat.js
Due: node_modules/.bin/eslint --fix

Basic list of Online Users is Displaying
  app/db/models/user.js
  app/socket/chat.js
  public/html/base.html
  public/js/ScratchGames.js
  public/js/chat.js
Due: node_modules/.bin/eslint --fix

Updating auth functions to use new table column
  app/passport/index.js
  app/router/auth.js
Due: node_modules/.bin/eslint --fix

Add Lobby Users to list
  app/socket/chat.js
  public/html/base.html
  public/js/chat.js
Due: node_modules/.bin/eslint --fix

working on color for base.html
  public/css/Main.css
Due: node_modules/.bin/prettier --write

Killing legacy css
  public/css/Login.css
  public/css/Main.css
  public/html/base.html
  public/html/snippets/lobbyList.html
  public/js/base.js
Due: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

Joincode front-end working. Some type checking a validation on client side
  public/css/Main.css
  public/html/base.html
  public/html/snippets/joincode.html
  public/js/ScratchGames.js
  public/js/joincode.js
Due: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

Little bit of table cleanup and universal glyphcon support
  public/css/Main.css
  public/html/base.html
  public/html/snippets/lobbyList.html
Due: node_modules/.bin/prettier --write

More table formatting
  public/css/Main.css
  public/html/base.html
  public/html/snippets/lobbyList.html
Due: node_modules/.bin/prettier --write

Inital Copy-Paste of GoFish
  app/CardGames/GoFish/game.js
  app/CardGames/GoFish/index.js
  app/CardGames/deck.js
  app/CardGames/player.js
  public/css/style.css
  public/html/game.html
  public/img/Cards/Back.png
  public/img/Cards/Cards-06.png
  public/img/Cards/Cards.ai
  public/img/Cards/Clubs.png
  public/img/Cards/Diamonds.png
  public/img/Cards/Hearts.png
  public/img/Cards/Spades.png
  public/js/Controllers/goFish.js
  public/js/Models/goFish.js
Due: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

Renaming Server Folders
  app/games/deck.js
  app/games/gofish/game.js
  app/games/gofish/index.js
  app/games/player.js
Due: node_modules/.bin/eslint --fix

Linting Server Files
  app/games/deck.js
  app/games/gofish/game.js
  app/games/gofish/index.js
  app/games/player.js
Due: node_modules/.bin/eslint --fix

Linting Client Files
  public/js/Controllers/goFish.js
  public/js/Models/goFish.js
Due: node_modules/.bin/eslint --fix

Adding Scratch calls to GoFish Client
  public/js/Controllers/goFish.js
  public/js/Models/goFish.js
  public/js/ScratchGames.js
  public/js/base.js
  public/js/games/goFish.js
  public/js/lobby.js
  public/js/lobbylist.js
  public/js/profile.js
Due: node_modules/.bin/eslint --fix

Switching from bad naming conventions
  public/js/games/goFish.js
Due: node_modules/.bin/eslint --fix

Small changes and updated the create lobby screen and dialog. Fixed the multiple additions of the same gametype bug.
  public/css/Main.css
  public/html/modals/createLobby.html
  public/html/snippets/joincode.html
  public/js/joincode.js
  public/js/lobbylist.js
Due: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

Page height is 100%. Autoscroll on chat windows very broken. Cannot set auto scroll on dynamic sizes.
  public/css/Main.css
  public/html/base.html
Due: node_modules/.bin/prettier --write

Updating Schema Defn's
  app/db/MySQL-Schema.md
Due: node_modules/.bin/prettier --write

index game and dev info
  public/css/Main.css
  public/html/index.html
Due: node_modules/.bin/prettier --write

Lobby landing starting to get somewhere.
  public/css/Main.css
  public/html/snippets/lobby.html
Due: node_modules/.bin/prettier --write

Game can be manually loaded via console
  app/db/MySQL-Schema.md
  app/db/models/lobby.js
  app/games/gofish/index.js
  app/games/index.js
  app/socket/base.js
  app/socket/chat.js
  app/socket/index.js
  app/socket/lobby.js
  app/socket/namespaceManager.js
  public/html/games/gofish.html
  public/js/ScratchGames.js
  public/js/games/gofish.js
Due: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

GoFish is loading and communicating
  app/games/gofish/index.js
  app/socket/lobby.js
  app/socket/namespaceManager.js
  public/css/style.css
  public/js/ScratchGames.js
  public/js/games/gofish.js
Due: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

css for index page
  public/css/Main.css
  public/css/index.css
  public/html/index.html
Due: node_modules/.bin/prettier --write

index page changes
  public/css/index.css
  public/html/index.html
Due: node_modules/.bin/prettier --write

Git missed marking this as a merge conflict
  public/css/Main.css
Due: node_modules/.bin/prettier --write

Creating Join Code
  app/db/MySQL-Schema.md
  app/db/models/auth.js
  app/db/models/lobby.js
  app/db/models/message.js
  app/db/models/token.js
  app/db/models/user.js
Due: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

Removing unused function
  public/js/ScratchGames.js
Due: node_modules/.bin/eslint --fix

Basic joining of lobby via Join Code
  app/db/models/lobby.js
  app/socket/base.js
  public/html/snippets/joincode.html
  public/js/joincode.js
Due: node_modules/.bin/eslint --fix

More work on lobby landing page. Things starting to get dynamic. Lots of work left.
  public/css/Main.css
  public/html/base.html
  public/html/snippets/goFishSettings.html
  public/html/snippets/lobby.html
  public/js/lobby.js
  public/js/lobbylist.js
Due: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

Fixing hidden elements
  app/games/gofish/index.js
  public/html/games/gofish.html
  public/js/games/gofish.js
Due: node_modules/.bin/eslint --fix

Disconnecting from the Game
  app/config/config.json
  app/games/gofish/index.js
  public/js/ScratchGames.js
  public/js/games/gofish.js
Due: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

Accidentally pushed local DB config:
  app/config/config.json
Due: node_modules/.bin/prettier --write

Load logic change
  app/games/gofish/index.js
  public/html/games/GoFish.html
  public/js/ScratchGames.js
  public/js/games/GoFish.js
Due: node_modules/.bin/eslint --fix
