Repository Rickmusic/ScratchGames: changes, and which lint-staged commands are due for each by the changed paths.
All: node_modules/.bin/prettier, node_modules/.bin/eslint --fix

Rename Nginx Error Page Directory
  nginx/conf/nginx.conf
  public/errorpages/50x.html
  public/errorpages/Node-404.html
  public/errorpages/Node-50x.html
Due: none

Basic Signup Functional
  app/log/winston.js
  app/mailer/index.js
  app/passport/index.js
  app/router/auth.js
  public/js/login.js
Due: node_modules/.bin/eslint --fix

Update Readme with new log
  app/log/README.md
Due: node_modules/.bin/prettier

Remove error message that was just an object
  app/router/auth.js
Due: node_modules/.bin/eslint --fix

Make all mailer logs at the verbose level
  app/mailer/index.js
  app/router/auth.js
Due: node_modules/.bin/eslint --fix

Allow auth log to have multiple files
  app/log/winston.js
Due: node_modules/.bin/eslint --fix

Token Creation and DB insertion
  .eslintrc.json
  app/db/index.js
  app/db/models/token.js
  package.json
Due: node_modules/.bin/prettier, node_modules/.bin/eslint --fix

Mailer switch to OAuth
  app/config/config.json.example
  app/config/index.js
  app/mailer/index.js
Due: node_modules/.bin/eslint --fix

Sending Verify Tokens
  app/db/index.js
  app/db/models/auth.js
  app/mailer/index.js
  app/passport/index.js
  app/router/auth.js
Due: node_modules/.bin/eslint --fix

Basic Verify Tokens
  app/db/models/auth.js
  app/db/models/token.js
  app/db/models/user.js
  app/passport/index.js
  app/router/auth.js
  app/router/index.js
  public/js/profile.js
Due: node_modules/.bin/eslint --fix

Minor Edits
  app/db/index.js
  app/db/models/token.js
  app/passport/index.js
Due: node_modules/.bin/eslint --fix

Rename Promise.all return array variable
  app/mailer/index.js
Due: node_modules/.bin/eslint --fix

Keep Me Logged In Added
  app/db/models/token.js
  app/passport/index.js
  app/router/auth.js
  package-lock.json
  package.json
  public/html/login.html
  server.js
Due: node_modules/.bin/prettier, node_modules/.bin/eslint --fix

Update index.js
  app/db/index.js
Due: node_modules/.bin/eslint --fix

Refactoring Auth Routes
  app/router/auth.js
  app/router/index.js
  server.js
Due: node_modules/.bin/eslint --fix

Is Authenticated router middleware moved to auth
  app/router/auth.js
  app/router/index.js
Due: node_modules/.bin/eslint --fix

Recursive Token Generation
  app/db/models/token.js
Due: node_modules/.bin/eslint --fix

Fewer Log Files
  app/log/README.md
  app/log/winston.js
Due: node_modules/.bin/prettier, node_modules/.bin/eslint --fix

Rename redirect function
  app/router/auth.js
Due: node_modules/.bin/eslint --fix

Updated Home.html
  public/html/home.html
Due: none

Updated main css
  public/css/Main.css
Due: node_modules/.bin/prettier

Redirect Return Users To Login
  app/router/auth.js
  nginx/conf/nginx.conf
  server.js
Due: node_modules/.bin/eslint --fix

Fixed home and login mixup
  public/html/home.html
  public/html/login.html
Due: none

Slowly fixing. Untested
  public/html/home.html
  public/html/login.html
  public/js/UI.js
  public/js/login.js
Due: node_modules/.bin/eslint --fix

Move profile to be home
  public/html/home.html
  public/html/profile.html
Due: none

Start styling home page for demo.
  nginx/conf/nginx.conf
  public/css/Main.css
  public/html/home.html
  public/js/profile.js
Due: node_modules/.bin/prettier, node_modules/.bin/eslint --fix

Also don't need the home js file
  public/js/home.js
Due: node_modules/.bin/eslint --fix

Fix Signup Form
  public/html/login.html
Due: none

Added Larger Logo & Illustrator Source
  public/img/Logo4.ai
  public/img/Logo6.png
Due: none

And an SVG too
  public/img/Logo4.svg
Due: none

Move all added css for Home into new css file
  public/css/Home.css
  public/css/Main.css
  public/html/home.html
Due: node_modules/.bin/prettier

Added a Favicon
  nginx/conf/nginx.conf
  public/favicon/android-chrome-96x96.png
  public/favicon/apple-touch-icon.png
  public/favicon/browserconfig.xml
  public/favicon/favicon-16x16.png
  public/favicon/favicon-32x32.png
  public/favicon/favicon.ico
  public/favicon/mstile-150x150.png
  public/favicon/safari-pinned-tab.svg
  public/favicon/site.webmanifest
  public/html/home.html
  public/html/index.html
  public/html/login.html
Due: none

Basic Styling of Home Page for Demo
  public/css/Home.css
  public/html/home.html
  public/js/profile.js
Due: node_modules/.bin/prettier, node_modules/.bin/eslint --fix

Upadated Login UI
  public/css/Main.css
  public/html/login.html
Due: node_modules/.bin/prettier

Move session into new app module
  app/session/index.js
  server.js
Due: node_modules/.bin/eslint --fix

Slowly Working on the home page. Subject to alot of changes. Not attached to anything
  public/css/Login.css
  public/css/Main.css
  public/html/home.html
  public/html/login.html
  public/js/home.js
  public/js/login.js
Due: node_modules/.bin/prettier, node_modules/.bin/eslint --fix

Added Socket.IO with Sessions
  app/socket/index.js
  nginx/conf/nginx.conf
  package-lock.json
  package.json
  public/html/home.html
  server.js
Due: node_modules/.bin/prettier, node_modules/.bin/eslint --fix

Remove including socket.io to allow auto merge Hopefully
  public/html/home.html
Due: none

Trial set of inner html created. Anything within the div with id change should be placed in external file.
  public/css/Login.css
  public/css/Main.css
  public/html/home.html
  public/js/home.js
Due: node_modules/.bin/prettier, node_modules/.bin/eslint --fix

Add Autosaving to Socket Sessions
  app/cookie/index.js
  app/socket/index.js
  app/socket/socketsession.js
  server.js
Due: node_modules/.bin/eslint --fix

Path conditions:
  node_modules/.bin/prettier: any of: *.{json,css,md}
  node_modules/.bin/eslint --fix: any of: *.js
