Repository Rickmusic/ScratchGames: changes, and which lint-staged commands are due for each by the changed paths.
All: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

.lintstagedrc.json:

{
  "*.{json,css,md}": ["node_modules/.bin/prettier --write", "git add"],
  "*.js": ["node_modules/.bin/eslint --fix", "git add"]
}

more styling
  public/css/Main.css
  public/html/base.html
Due: node_modules/.bin/prettier --write

Missing value
  app/games/uno/index.js
  app/lobby/index.js
Due: node_modules/.bin/eslint --fix

Working on leaderboards
  public/html/snippets/leaderboard.html
  public/html/snippets/profile.html
  public/js/ScratchGames.js
  public/js/leaderboards.js
Due: node_modules/.bin/eslint --fix

using table in lobbylist
  public/html/snippets/lobbyList.html
Due: none

Socket For Leader Board
  app/socket/index.js
  app/socket/leaderboard.js
Due: node_modules/.bin/eslint --fix

Create Leaderboard Module
  app/leaderboard/index.js
Due: node_modules/.bin/eslint --fix

Prep for server backend information
  public/js/leaderboards.js
Due: node_modules/.bin/eslint --fix

Leaderboard front end should be mostly functional
  app/socket/leaderboard.js
  public/html/snippets/lobbyList.html
  public/js/leaderboards.js
  public/js/lobbylist.js
Due: node_modules/.bin/eslint --fix

Should display your score Along the bottom as well as in the list. Also should update accordingly
  public/html/snippets/leaderboard.html
  public/js/leaderboards.js
Due: node_modules/.bin/eslint --fix

Game Manager Added
  app/games/gofish/index.js
  app/games/uno/index.js
  app/lobby/index.js
  app/socket/chat.js
  app/socket/lobby.js
  public/html/gamesettings/GoFish.html
  public/html/gamesettings/Uno.html
  public/js/ScratchGames.js
  public/js/lobby.js
Due: node_modules/.bin/eslint --fix

Hooking up profile.
  public/html/snippets/lobbyList.html
  public/html/snippets/profile.html
  public/js/profile.js
Due: node_modules/.bin/eslint --fix

Adding loading icon rotation animation
  public/css/Main.css
Due: node_modules/.bin/prettier --write

Server thinking message
  public/html/modals/createLobby.html
  public/js/lobbylist.js
Due: node_modules/.bin/eslint --fix

Create Leaderboard Table
  app/db/MySQL-Schema.md
  app/db/index.js
  app/db/models/leaderboard.js
Due: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

more styling for mobile
  public/css/Main.css
  public/html/snippets/lobbyList.html
Due: node_modules/.bin/prettier --write

Fixing First Login Screen
  public/css/index.css
Due: node_modules/.bin/prettier --write

Propper winning state for uno, some minor css stuff
  app/games/gofish/index.js
  app/games/uno/game.js
  app/games/uno/index.js
  public/css/games/style.css
  public/js/games/GoFish.js
  public/js/games/Uno.js
Due: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

Lobby feeding some info back
  public/html/snippets/lobby.html
  public/js/lobby.js
  public/js/lobbylist.js
Due: node_modules/.bin/eslint --fix

Bit more mobile styling
  public/css/games/style.css
  public/html/games/GoFish.html
  public/html/games/Uno.html
Due: node_modules/.bin/prettier --write

getting background of game to main div
  public/css/Main.css
  public/css/games/style.css
  public/html/snippets/game.html
Due: node_modules/.bin/prettier --write

Css and got rid of start button
  public/css/games/style.css
  public/js/games/GoFish.js
  public/js/games/Uno.js
Due: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

I think it's fixed
  public/js/leaderboards.js
Due: node_modules/.bin/eslint --fix

Leaderboards are working
  app/db/MySQL-Schema.md
  app/db/index.js
  app/db/models/leaderboard.js
  app/leaderboard/index.js
  app/lobby/index.js
  app/socket/leaderboard.js
  app/socket/lobby.js
  public/js/leaderboards.js
Due: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

Cards should go to each player now, and right away
  public/js/games/GoFish.js
  public/js/games/Uno.js
Due: node_modules/.bin/eslint --fix

Profile changes
  public/html/snippets/profile.html
  public/js/profile.js
Due: node_modules/.bin/eslint --fix

Server Profile
  app/socket/base.js
Due: node_modules/.bin/eslint --fix

Online/Offline
  app/router/auth.js
  app/socket/base.js
  app/socket/chat.js
Due: node_modules/.bin/eslint --fix

removing console.log from bens code
  public/js/games/GoFish.js
  public/js/games/Uno.js
Due: node_modules/.bin/eslint --fix

removing more console.logs
  public/js/games/GoFish.js
  public/js/games/Uno.js
Due: node_modules/.bin/eslint --fix

Lobby Kick on disconnect
  app/lobby/index.js
  app/socket/lobby.js
Due: node_modules/.bin/eslint --fix
