Repository Rickmusic/ScratchGames: changes, and which lint-staged commands are due for each by the changed paths.
All: node_modules/.bin/prettier, node_modules/.bin/eslint --fix

.lintstagedrc.json:

{
  "*.{json,css,md}": ["node_modules/.bin/prettier", "git add"],
  "*.js": ["node_modules/.bin/eslint --fix", "git add"]
}

Corrections to get front and back end working together.
  app/router/index.js
  nginx-1.12.2/logs/access.log
  nginx-1.12.2/logs/error.log
  nginx-1.12.2/logs/nginx.pid
  package-lock.json
  public/html/50x.html
  public/html/home.html
  public/html/login.html
  public/js/login.js
Due: node_modules/.bin/prettier, node_modules/.bin/eslint --fix

Removed manditory formater.
  .eslintrc.json
  package-lock.json
  package.json
Due: node_modules/.bin/prettier

Remove Packaged Copies of code base
  BasicLogin.tar.gz
  BasicLogin2.tar.gz
  BasicLogin3.tar.gz
Due: none

Update Package Information
  package.json
Due: node_modules/.bin/prettier

Update README.md
  README.md
Due: node_modules/.bin/prettier

Rejigged Nginx
  .gitignore
  nginx-1.12.2/conf/fastcgi.conf
  nginx-1.12.2/conf/fastcgi_params
  nginx-1.12.2/conf/koi-utf
  nginx-1.12.2/conf/koi-win
  nginx-1.12.2/conf/mime.types
  nginx-1.12.2/conf/nginx.conf
  nginx-1.12.2/conf/scgi_params
  nginx-1.12.2/conf/uwsgi_params
  nginx-1.12.2/conf/win-utf
  nginx-1.12.2/contrib/README
  nginx-1.12.2/contrib/geo2nginx.pl
  nginx-1.12.2/contrib/unicode2nginx/koi-utf
  nginx-1.12.2/contrib/unicode2nginx/unicode-to-nginx.pl
  nginx-1.12.2/contrib/unicode2nginx/win-utf
  nginx-1.12.2/contrib/vim/ftdetect/nginx.vim
  nginx-1.12.2/contrib/vim/ftplugin/nginx.vim
  nginx-1.12.2/contrib/vim/indent/nginx.vim
  nginx-1.12.2/contrib/vim/syntax/nginx.vim
  nginx-1.12.2/docs/CHANGES
  nginx-1.12.2/docs/CHANGES.ru
  nginx-1.12.2/docs/LICENSE
  nginx-1.12.2/docs/OpenSSL.LICENSE
  nginx-1.12.2/docs/PCRE.LICENCE
  nginx-1.12.2/docs/README
  nginx-1.12.2/docs/zlib.LICENSE
  nginx-1.12.2/nginx.exe
  nginx/README.md
  nginx/conf/nginx.conf
  public/html-error/50x.html
  public/html-error/Node-404.html
  public/html-error/Node-50x.html
Due: node_modules/.bin/prettier

Update README
  README.md
Due: node_modules/.bin/prettier

Removed/Ignored .idea folder to be sure application is IDE independent
  .gitignore
  .idea/Projectv3.iml
  .idea/modules.xml
  .idea/workspace.xml
Due: none

Update README.md
  nginx/README.md
Due: node_modules/.bin/prettier

Update for all nav to hit Node
  app/router/index.js
  public/html/home.html
  public/html/index.html
Due: node_modules/.bin/eslint --fix

Seperate Auth Routing into it's own file
  app/router/auth.js
  app/router/index.js
Due: node_modules/.bin/eslint --fix

Created App Config
  app/config/config.json
  app/config/index.js
  server.js
Due: node_modules/.bin/prettier, node_modules/.bin/eslint --fix

Update .gitignore
  .gitignore
Due: none

Rejiged App Config
  app/config/config.json.example
Due: none

We have a proper DB now!
  app/db/index.js
  app/db/schemas/user.js
  app/db/users.js
  app/passport/index.js
  app/router/auth.js
  app/router/index.js
  nginx/conf/nginx.conf
  package-lock.json
  package.json
  public/html/login.html
Due: node_modules/.bin/prettier, node_modules/.bin/eslint --fix

Updating Readme's for DB addition
  DatabaseReadme.md
  README.md
Due: node_modules/.bin/prettier

Using Seperate Auth Table
  app/db/index.js
  app/db/schemas/auth.js
  app/db/schemas/user.js
  app/passport/index.js
Due: node_modules/.bin/eslint --fix

Stupid 'toLowerCase on paste' fixes
  app/db/schemas/user.js
Due: node_modules/.bin/eslint --fix

Added Logging
  app/db/index.js
  app/log/morgan.js
  app/log/winston.js
  package-lock.json
  package.json
  server.js
Due: node_modules/.bin/prettier, node_modules/.bin/eslint --fix

Update Readme with log location
  README.md
Due: node_modules/.bin/prettier

Move Database Readme
  README.md
  app/db/README.md
Due: node_modules/.bin/prettier

Update necessary privileges
  app/db/README.md
Due: node_modules/.bin/prettier

Renamed DB Tables to Models
  app/db/index.js
  app/db/models/auth.js
  app/db/models/user.js
  app/passport/index.js
Due: node_modules/.bin/eslint --fix

Update Readme with logging info
  app/db/README.md
Due: node_modules/.bin/prettier

Seperate Bcrypt into seperate module.
  .eslintrc.json
  app/bcrypt/index.js
  app/db/index.js
  app/db/models/auth.js
  app/db/models/user.js
Due: node_modules/.bin/prettier, node_modules/.bin/eslint --fix

Callback should not be inside promise
  app/db/models/auth.js
Due: node_modules/.bin/eslint --fix

Added extra log message when users are created
  app/db/index.js
Due: node_modules/.bin/eslint --fix

Add log file size limit
  app/log/README.md
  app/log/winston.js
Due: node_modules/.bin/prettier, node_modules/.bin/eslint --fix

Fix H2
  app/log/README.md
Due: node_modules/.bin/prettier

Enable creation of multiple log files, if needed
  .gitignore
  app/log/README.md
  app/log/winston.js
Due: node_modules/.bin/prettier, node_modules/.bin/eslint --fix

Add link to logs
  README.md
Due: node_modules/.bin/prettier

Missed a newline
  app/log/README.md
Due: node_modules/.bin/prettier

Store google/facebook displayname and token in DB
  .eslintrc.json
  app/db/models/auth.js
  app/passport/index.js
Due: node_modules/.bin/prettier, node_modules/.bin/eslint --fix

Switch to Winston managing Morgan Log Files
  .gitignore
  app/log/README.md
  app/log/morgan.js
  app/log/winston.js
Due: node_modules/.bin/prettier, node_modules/.bin/eslint --fix

Add mailer and update config
  .eslintrc.json
  .gitignore
  app/config/config.json.example
  app/config/index.js
  app/mailer/index.js
  server.js
Due: node_modules/.bin/prettier, node_modules/.bin/eslint --fix

Add signup form and signup routes
  app/log/winston.js
  app/passport/index.js
  app/router/auth.js
  public/css/Main.css
  public/html/login.html
  public/js/login.js
Due: node_modules/.bin/prettier, node_modules/.bin/eslint --fix
