Repository Rickmusic/ScratchGames: changes, and which lint-staged commands are due for each by the changed paths.
All: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

Player list front. Bare bones
  public/html/snippets/lobby.html
  public/js/lobby.js
Due: node_modules/.bin/eslint --fix

Patching changed argument name
  public/js/lobby.js
Due: node_modules/.bin/eslint --fix

Outlining lobby update propagation functions
  app/socket/lobby.js
  public/js/lobby.js
Due: node_modules/.bin/eslint --fix

Sketch click handlers for leave/kick/switch
  public/js/lobby.js
Due: node_modules/.bin/eslint --fix

Adding buttons to player lists in lobby.
  public/html/snippets/lobby.html
  public/js/lobby.js
Due: node_modules/.bin/eslint --fix

Fixed spectator Gliphcons
  public/js/lobby.js
Due: node_modules/.bin/eslint --fix

Server logic for switching between spectator and player
  app/socket/lobby.js
  public/js/lobby.js
Due: node_modules/.bin/eslint --fix

Player ready and Player leaving lobby logic in place. Untested.
  public/js/lobby.js
Due: node_modules/.bin/eslint --fix

Hooking member list buttons
  app/socket/lobby.js
  public/js/lobby.js
Due: node_modules/.bin/eslint --fix

Hosts can now switch member roles
  public/js/lobby.js
Due: node_modules/.bin/eslint --fix

Added kill lobby button and Removed spectator ready up button
  public/html/snippets/lobby.html
  public/js/lobby.js
Due: node_modules/.bin/eslint --fix

Kill lobby button will boot host to lobbylist.
  public/js/chat.js
  public/js/lobby.js
Due: node_modules/.bin/eslint --fix

Lobby form updates pushed to all members
  app/socket/lobby.js
  public/js/ScratchGames.js
  public/js/lobby.js
Due: node_modules/.bin/eslint --fix

Leaving Lobby
  app/socket/lobby.js
  public/js/lobby.js
Due: node_modules/.bin/eslint --fix

Small changes
  public/js/lobby.js
Due: node_modules/.bin/eslint --fix

disable ready player when player is ready
  public/js/lobby.js
Due: node_modules/.bin/eslint --fix

Adding Lobby Tracking Object
  app/socket/lobby.js
Due: node_modules/.bin/eslint --fix

Linting run on Server Files
  .eslintrc.json
  .prettierrc.json
  app/db/index.js
  app/db/models/auth.js
  app/db/models/lobby.js
  app/db/models/message.js
  app/db/models/token.js
  app/db/models/user.js
  app/mailer/index.js
  app/passport/index.js
  app/router/auth.js
  app/router/index.js
  app/router/static.js
Due: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

Linting of Client Files
  public/js/ScratchGames.js
  public/js/base.js
  public/js/chat.js
  public/js/joincode.js
  public/js/lobbylist.js
  public/js/login.js
Due: node_modules/.bin/eslint --fix

Linting of Server Socket files
  app/socket/base.js
  app/socket/chat.js
  app/socket/index.js
  app/socket/lobby.js
  app/socket/namespaceManager.js
  app/socket/socketsession.js
Due: node_modules/.bin/eslint --fix

Linting Client Lobby File
  public/js/lobby.js
Due: node_modules/.bin/eslint --fix

Removing tracking of danger zone settings
  app/socket/lobby.js
  public/js/lobby.js
Due: node_modules/.bin/eslint --fix

Change to as-needed socket connection for lobby
  app/socket/base.js
  app/socket/lobby.js
  public/js/ScratchGames.js
  public/js/chat.js
  public/js/lobby.js
Due: node_modules/.bin/eslint --fix

Creating a seperate Lobby Manager
  app/lobby/index.js
  app/socket/base.js
  app/socket/chat.js
  app/socket/index.js
  app/socket/lobby.js
  public/js/lobby.js
Due: node_modules/.bin/eslint --fix

Change pages -> locations
  public/js/ScratchGames.js
  public/js/lobby.js
Due: node_modules/.bin/eslint --fix

Seperate Navigation JS Call
  public/js/ScratchGames.js
Due: node_modules/.bin/eslint --fix

silly push
  public/css/Main.css
  public/css/index.css
  public/html/base.html
Due: node_modules/.bin/prettier --write

Moving everything to 'locations' object
  public/js/ScratchGames.js
  public/js/joincode.js
  public/js/lobbylist.js
  public/js/profile.js
Due: node_modules/.bin/eslint --fix

Missing Semicolon
  public/js/ScratchGames.js
Due: node_modules/.bin/eslint --fix

Nav overhaul to call init on object'
  public/js/ScratchGames.js
Due: node_modules/.bin/eslint --fix

profile stuff
  public/css/Main.css
  public/html/snippets/profile.html
Due: node_modules/.bin/prettier --write

styling done for change profile
  public/css/Main.css
  public/html/snippets/profile.html
Due: node_modules/.bin/prettier --write

increased readability for Pavol's sake :)
  public/css/Main.css
  public/html/base.html
  public/html/snippets/lobbyList.html
Due: node_modules/.bin/prettier --write

main div height
  public/css/Main.css
Due: node_modules/.bin/prettier --write

Made it work on firefox
  app/games/uno/game.js
  public/css/games/style.css
Due: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

Editing Error Messages
  app/socket/base.js
  app/socket/chat.js
  app/socket/lobby.js
Due: node_modules/.bin/eslint --fix

FIxing styling issues and chat boxes
  public/css/Main.css
  public/html/base.html
  public/js/chat.js
Due: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

Front end prep work for lobby list screen
  public/css/Main.css
  public/html/snippets/lobbyList.html
  public/js/lobbylist.js
Due: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

Getting lobbies
  app/lobby/index.js
  app/socket/index.js
  app/socket/lobby.js
  app/socket/lobbylist.js
Due: node_modules/.bin/eslint --fix

Umm Yeah more stuff
  public/html/snippets/lobby.html
  public/js/lobby.js
  public/js/lobbylist.js
Due: node_modules/.bin/eslint --fix

Path conditions:
  node_modules/.bin/prettier --write: any of: *.{json,css,md}
  node_modules/.bin/eslint --fix: any of: *.js
