Repository Rickmusic/ScratchGames: changes, and which lint-staged commands are due for each by the changed paths.
All: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

FIxed merge issues and bootstrap styling
  public/css/Main.css
  public/html/base.html
Due: node_modules/.bin/prettier --write

Lobby list barebones working.
  public/js/lobbylist.js
Due: node_modules/.bin/eslint --fix

Add Lobby Id for Lobbies
  app/lobby/index.js
Due: node_modules/.bin/eslint --fix

Allow lobbies to persist server crash
  app/lobby/index.js
Due: node_modules/.bin/eslint --fix

Chat box
  public/css/Main.css
  public/html/base.html
Due: node_modules/.bin/prettier --write

fixing sizing issues with resizing
  public/css/Main.css
  public/html/base.html
Due: node_modules/.bin/prettier --write

pushing for donald
  public/html/snippets/lobbyList.html
  public/js/lobbylist.js
Due: node_modules/.bin/eslint --fix

Emit lobby on create
  app/lobby/index.js
  app/socket/base.js
Due: node_modules/.bin/eslint --fix

Should not add 2 of the same lobbies
  public/js/lobbylist.js
Due: node_modules/.bin/eslint --fix

taken out double scroll bar
  public/css/Main.css
Due: node_modules/.bin/prettier --write

Confirmed that two of the same lobbies will not end up in the lobby list
  public/js/lobbylist.js
Due: node_modules/.bin/eslint --fix

Move start game into lobby module
  app/lobby/index.js
  app/socket/lobby.js
Due: node_modules/.bin/eslint --fix

Pushing updated number of players/spectators
  app/lobby/index.js
Due: node_modules/.bin/eslint --fix

Pushing updated lobby list
  app/lobby/index.js
Due: node_modules/.bin/eslint --fix

FIxing the lobbyList screen page
  public/css/Main.css
  public/html/base.html
  public/html/snippets/lobbyList.html
Due: node_modules/.bin/prettier --write

Missing Parenthesis
  app/lobby/index.js
Due: node_modules/.bin/eslint --fix

Lobby Updating
  public/js/lobby.js
  public/js/lobbylist.js
Due: node_modules/.bin/eslint --fix

Temp Patch for joining lobbies crash
  app/lobby/index.js
Due: node_modules/.bin/eslint --fix

lobby list and lobby styling
  public/css/Main.css
  public/html/snippets/lobby.html
Due: node_modules/.bin/prettier --write

Fix member switch role and host kick
  app/lobby/index.js
  app/socket/lobby.js
Due: node_modules/.bin/eslint --fix

lobby window now fixed with sizing and mobile view
  public/css/Main.css
  public/html/gamesettings/GoFish.html
  public/html/gamesettings/Uno.html
  public/html/snippets/lobby.html
Due: node_modules/.bin/prettier --write

Lobby Button front end
  public/js/lobbylist.js
Due: node_modules/.bin/eslint --fix

Spectators working for UNO
  app/games/uno/game.js
  app/games/uno/index.js
  public/css/games/style.css
  public/js/games/Uno.js
Due: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

Joining via lobby list buttons
  app/socket/base.js
Due: node_modules/.bin/eslint --fix

Small issues
  app/lobby/index.js
  app/socket/base.js
Due: node_modules/.bin/eslint --fix

Even more fix
  app/lobby/index.js
Due: node_modules/.bin/eslint --fix

General Server Edits
  app/lobby/index.js
  app/socket/base.js
  app/socket/chat.js
  app/socket/lobby.js
Due: node_modules/.bin/eslint --fix

Chat/User-List Updating Role when changed
  app/socket/chat.js
  public/js/ScratchGames.js
  public/js/chat.js
  public/js/lobby.js
Due: node_modules/.bin/eslint --fix

Clearing Lists
  public/js/chat.js
Due: node_modules/.bin/eslint --fix

Fixed bugs in Uno spectators and added GoFish spectators
  app/games/gofish/game.js
  app/games/gofish/index.js
  app/games/uno/game.js
  public/js/games/GoFish.js
  public/js/games/Uno.js
Due: node_modules/.bin/eslint --fix

Changed to 'deal cards' instead of start
  public/html/games/GoFish.html
  public/html/games/Uno.html
Due: none

Added score function in games
  app/games/gofish/game.js
  app/games/gofish/index.js
  app/games/uno/game.js
  public/css/games/style.css
  public/js/games/GoFish.js
Due: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

Refactor Updating Lobby List
  app/lobby/index.js
  public/js/lobbylist.js
Due: node_modules/.bin/eslint --fix

Leave button in games
  public/html/snippets/game.html
  public/js/ScratchGames.js
Due: node_modules/.bin/eslint --fix

More styling, mainly for mobile on lobby screen
  public/css/Main.css
  public/html/base.html
  public/html/gamesettings/GoFish.html
  public/html/gamesettings/Uno.html
  public/html/snippets/lobby.html
  public/js/lobby.js
Due: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

Front end stuff and game over
  app/games/uno/game.js
  app/games/uno/index.js
  app/router/static.js
  public/css/games/style.css
  public/html/games/GoFish.html
  public/img/Cards/Font/icomoon.eot
  public/img/Cards/Font/icomoon.svg
  public/img/Cards/Font/icomoon.ttf
  public/img/Cards/Font/icomoon.woff
  public/img/PokerTable.png
  public/js/games/GoFish.js
  public/js/games/Uno.js
Due: node_modules/.bin/prettier --write, node_modules/.bin/eslint --fix

Add Win Callback to creat game
  app/lobby/index.js
Due: node_modules/.bin/eslint --fix

Add format matching to nginx
  nginx/conf/nginx.conf
Due: none

Add Win Callbacks to Game
  app/games/gofish/game.js
  app/games/gofish/index.js
  app/games/uno/game.js
  app/games/uno/index.js
Due: node_modules/.bin/eslint --fix

fixed bugs front and back end
  app/games/uno/game.js
  public/js/games/GoFish.js
  public/js/games/Uno.js
Due: node_modules/.bin/eslint --fix

Path conditions:
  node_modules/.bin/prettier --write: any of: *.{json,css,md}
  node_modules/.bin/eslint --fix: any of: *.js
